<table border="3">
    <tr>
        <th>ID</th>
        <th>TITRE</th>
        <th>DESCRIPTION</th>
         <th>DATE DE DEBUT</th>
        <th>DATE DE FIN</th>
        <th>PRIX</th>
        <th>PLACES DISPONIBLES</th>
        <th>NIVEAU</th>

        <th>action1</th>
        <th>action2</th>
    </tr>
    {% for i in formation %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.titre }}</td>
            <td>{{ i.description }}</td>
            <td>{{ i.datedebut|date("d-m-Y")}}</td>
            <td>{{ i.datefin|date("d-m-Y") }}</td>
            <td>{{ i.prix }}</td>
            <td>{{ i.nbplaces }}</td>
            <td>{{ i.niveau }}</td>



            <td> <form action="{{ path('suppC',{'id':i.id}) }}"><button style="background-color: #B0413E"> supprimer </button> </form> </td>
            <td> <form action="{{ path('modifC',{'id':i.id}) }}"><button style="background-color: green"> modifier </button> </form></td>
        </tr>
    {% endfor %}

</table>
